*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Top Header Section */
.top-header{
    background-image: url("/assets/images/header-bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 768px;
    position: relative;
}

.header-content{
    position: absolute;
    top: 40%;
    left: 7%;
}

.header-h1{
    color: #fff;
    font-size: 65px;
    line-height: 75px;
    letter-spacing: 3px;
}

.header-p{
    color: #fff;
    font-size: 20px;
    padding-top: 25px;
}


/* SecondHeader Section */
.second-header{
    background-color: #efefef;
    min-height: 350px;
    display: flex;
    align-items: center;
}
.image-left img{
    width: 100%;
    margin-left: 0px;
    padding-left: 0px;
}
.content-div{
    width: 50%;
}
.image-div {
    padding: 0px;
    margin: 0px;
}

.content-div h1 {
    font-size: 35px;
}

.content-div p {
    font-size: 18px;
    padding: 10px 0 22px 0;
}

.content-div a {
    text-decoration: none;
    background-image: linear-gradient(95deg, black, #666);
    padding: 4px 14px;
    color: #fff;
    border-radius: 2px;
}

